@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 131 52% 95%;
    --foreground: 129 55% 10%;
    --card: 0 0% 100%;
    --card-foreground: 129 55% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 129 55% 10%;
    --primary: 129 55% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 131 30% 90%;
    --secondary-foreground: 129 55% 20%;
    --muted: 131 20% 88%;
    --muted-foreground: 129 10% 40%;
    --accent: 78 81% 58%;
    --accent-foreground: 129 55% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 129 20% 85%;
    --input: 129 20% 85%;
    --ring: 129 55% 51%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 129 55% 5%;
    --foreground: 131 52% 95%;
    --card: 129 55% 8%;
    --card-foreground: 131 52% 95%;
    --popover: 129 55% 8%;
    --popover-foreground: 131 52% 95%;
    --primary: 129 55% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 129 30% 15%;
    --secondary-foreground: 131 52% 95%;
    --muted: 129 20% 15%;
    --muted-foreground: 131 10% 70%;
    --accent: 78 81% 58%;
    --accent-foreground: 129 55% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 131 52% 95%;
    --border: 129 20% 20%;
    --input: 129 20% 20%;
    --ring: 129 55% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}